.botao__transparente {
    background: none;
    color: var(--cor-botao-principal);
    border: solid 1px var(--cor-botao-principal);
    height: 40px;
    min-width: 133px;
    font-weight: 600;
    transition: all 0.2s ease-in-out;
}

.botao__transparente:hover {
    background-color: var(--cor-botao-terciaria);
}

.botao__zero {
    background: none;
    border: none;
}

.botao__opaco {
    background: none;
    background-color: var(--cor-botao-principal);
    color: var(--cor-texto-secundaria);
    height: 40px;
    width: 133px;
    border: none;
    font-weight: 600;
    transition: all 0.2s ease-in-out;
}

.botao__opaco:hover {
    background-color: var(--cor-botao-secundaria);
}

.botao__opaco:disabled {
    opacity: 50%;
}

.botao__largo {
    width: 100%;
}

.botao__vermelho {
    background-color: #ff6961;
    margin-top: 1rem;
}

.botao__vermelho:hover {
    background-color: red;
}

@media screen and (min-width: 769px) {
    .botao__parciallargo {
        width: 100%;
    }
}