.card__container {
    display: flex;
    flex-direction: column;
}

.card__img {
    width: 100%;
}

.card__text {
    font-size: 1rem;
    font-weight: 500;
    color: var(--cor-texto-primaria);
    margin: 0.6rem 0;
}

.card__preco {
    font-size: 1.1rem;
    font-weight: 700;
    margin: 0;
    margin-bottom: 0.6rem;
}

.card__link {
    margin: 0;
    font-weight: 700;
    color: var(--cor-botao-principal);
}

.opcoesadm__container {
    display: flex;
    position: relative;
    justify-content: flex-end;
    gap: 10px;
    top: 40px;
    right: 10px;
}

.opcoesadm__botao {
    border: none;
    background: none;
}

@media screen and (max-width: 768px) {
    .card__container:not(:nth-child(1), :nth-child(2), :nth-child(3), :nth-child(4)) {
        display: none;
    }
}

@media screen and (min-width: 769px) {
    .card__container:not(:nth-child(1), :nth-child(2), :nth-child(3), :nth-child(4), :nth-child(5), :nth-child(6)) {
        display: none;
    }
}