.login__container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 5rem 2rem;
    margin: 0 auto;
    max-width: 275px;
}

.login__titulo {
    margin: 0;
    font-size: 1.2rem;
    margin-bottom: 1.2rem;
    font-weight: 700;
}

.login__input {
    width: 100%;
    font-size: 1.2rem;
    height: 2.9rem;
    margin-bottom: 1.2rem;
    padding: 0.8rem;
    border: none;
    border-radius: 4px;
    border-bottom: 1px solid #c8c8c8;
    color: var(--cor-texto-principal);
}

.input__validated {
    border-color: green;
}

.login__input:focus-visible {
    outline: none;
}

.login__input::placeholder {
    color: var(--cor-texto-terciaria);
}

.erro__input {
    color: red;
}


@media screen and (min-width: 769px) {
    .login__container {
        max-width: 425px;
    }
}