.header {
    width: 100%;
    padding: 0 1.2rem;
    height: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--cor-texto-secundaria);
}

.logo {
    order: -2;
}

@media screen and (min-width: 481px) {
    .header {
        padding: 0 2.3rem;
    }
}

@media screen and (min-width: 769px) {
    .header {
        padding: 0 9.5rem;
    }
}