.lista__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.lista__link {
    margin: 0;
    font-weight: 700;
    color: var(--cor-botao-principal);
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: calc(5rem + 10px);
}

.lista__produtos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    flex-wrap: wrap;
    gap: 1.1rem;
    align-items: baseline;
}

.lista__produtos.show__all div {
    display: inherit;
}

@media screen and (min-width: 481px) {
    .lista__produtos {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media screen and (min-width: 1024px) {
    .lista__produtos {
        grid-template-columns: repeat(6, 1fr);
    }
}

@media screen and (max-width: 768px) {
    .lista__produtos :not(:nth-child(1), :nth-child(2), :nth-child(3), :nth-child(4)) {
        display: none;
    }
}

@media screen and (min-width: 769px) {
    .lista__produtos :not(:nth-child(1), :nth-child(2), :nth-child(3), :nth-child(4), :nth-child(5), :nth-child(6)) {
        display: none;
    }
}