.form {
    display: flex;
}

.input {
    display: none;
    width: 230px;
    height: 2.8rem;
    border: none;
    border-radius: 20px;
    background-color: var(--cor-fundo-principal);
    padding: 0 1.1rem;
    position: relative;
}

.input:focus-visible {
    outline-color: #d5d5d5;
}

.botao__busca {
    position: relative;
}

@media screen and (min-width: 481px) {
    .input {
        display: block;
    }

    .form {
        order: -1;
        margin: 0 auto 0 2rem;
    }

    .botao__busca {
        left: -200%;
    }
}

@media screen and (min-width: 769px) {
    .input {
        width: 35vw;
        max-width: 400px;
    }

    .form {
        order: -1;
        margin: 0 auto 0 2rem;
    }

    .botao__busca {
        left: -200%;
    }
}